/* Grid area declaratio */
.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 30px 30px;
}

.main {
    grid-area: main;
    text-align: justify;
}

.aside {
    grid-area: aside;
}

.sidebar {
    grid-area: sidebar;
}

.ad {
    grid-area: ad;
}

.footer {
    grid-area: footer;
}

/* grid related styles */

.grid_area_cont {
   
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "header header header header "
        "nav main main aside"
        "nav main  main ad"
        "footer footer footer footer"
    ;
}
.header,
.nav,
.main,
.aside,
.ad,
footer {
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 10px;
}
@media screen and (max-width:576px) {
    .grid_area_cont {
         grid-template-columns: 1fr;
         grid-template-areas: 
         "header header "
         "nav nav"
         "main main"
         "aside aside"
         "ad ad"
         "footer footer"
         ;
    }
}

@media screen and (min-width:577px) and (max-width:992px){
    .grid_area_cont{
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header  header header"
    "nav nav nav nav"
    "aside main main main"
    "ad footer footer footer"
    ;
    }
    .nav{
        display: grid;
       grid-template-columns: repeat(3,1fr);
       align-items: end;
       justify-items: center;

    }
    .sidebar{
        display:grid;
        gap: 10px;
    }
    
}

